.email
  = link_to emails_path, class: 'btn btn-default' do
    %i.fa.fa-arrow-left
    Back
  = link_to toggle_value_path(@conv.id,'archived',val: @conv.archived), class: 'btn btn-default' do
    %i.fa{class: @conv.archived ? 'fa-inbox' : 'fa-archive'}
    #{@conv.archived ? 'Una' : 'A'}rchive
  = link_to toggle_value_path(@conv.id,'answered',val: @conv.answered), class: 'btn btn-default' do
    %i.fa{class: @conv.answered ? 'fa-thumbs-down' : 'fa-thumbs-up'}
    Mark as #{@conv.answered ? 'una' : 'a'}nswered
  = link_to '#modal', class: 'btn btn-default reply-modal '+(@conv.answered ? 'btn-success' : '') do
    %i.fa.fa-reply
    Repl#{@conv.answered ? 'ied' : 'y'}
  %br
  %br
  %h3
    %b Subject:
    = @conv.subject
  %br
  .panel-group#accordion
    - i = 0
    - @emails.each do |e|
      - i+=1
      .panel.panel-default
        .panel-heading
          %h4.panel-title
            %a{'data-toggle' => "collapse", 'data-parent'=>"#accordion", href: '#collapse_'+i.to_s}
              %b
                =e.sender
                -if e.user
                  (Sent by #{e.user.to_s})
            %span.pull-right= e.created_at.strftime('%d/%m/%Y %H:%M')
        .panel-collapse.collapse{class: i==@emails.length ? 'in' : '', id: 'collapse_'+i.to_s}
          .panel-subtitle 
            %b to:
            =e.recipient
          .panel-body
            %iframe.html-capsule{src: "about:blank", body_html: e.body_html, body_plain: e.body_plain}
            -# e.body_html ? e.body_html.html_safe : e.body_plain.html_safe
  = render partial: 'emails/reply', locals: {:@email => (@emails.length>0 ? @emails.last : @email), :@inv => @emails.length>0}


